.carousel-container {
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.carousel-container img {
    border-radius: 10px;

}

.image-card {

    padding: 20px;
    background: #3d3b3b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 85%;

}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.product-name {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-namecard {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.price-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.price-card {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    text-align: center;
}

.overview-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.product-overview {
    flex: 2;
}

.product-overview-card {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.seller-card {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.seller-details {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 300px;
}

.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
}

.product-details-card {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.contact-seller-button,
.offer-button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.contact-seller-button {
    background-color: #ffffff;
    color: rgb(46, 41, 41);
    border: 1px solid #323131;
}

.contact-seller-button:hover {
    background-color: #f6f9fb;
}

.offer-button {
    background-color: #18191a;
    color: white;
}

.offer-button:hover {
    background-color: #0056b3;
}