.home-featured {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 200px;

}

.home-cardfe {
  width: 18rem;
  min-height: 18rem;
  margin-top: 20px;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  padding-left: 200px;
}

.home-card {
  width: 18rem;
  min-height: 18rem;
  margin-top: 20px;
}

.featured-container{
  height: 17rem;
}